[Unit]
Description=start clarifai server on boot
After=multi-user.target
[Service]
WorkingDirectory=/home/pi/
ExecStart=java -jar /home/pi/Clarifai-1.0.jar
User=root
[Install]
WantedBy=multi-user.target