[Unit]
Description=start clarifai server on boot
After=multi-user.target
[Service]
WorkingDirectory=/home/pi/
ExecStart=java -jar /home/pi/com/jones/matt/Clarifai/1.0/Clarifai-1.0.jar
User=pi
[Install]
WantedBy=multi-user.target